      <a href="#" class="btn" id="navButton" onclick="showNav();">Показать навигацию</a>
      <div id="nav" style="">
      <a href="/" class="btn" id="home">&#127968; Главная</a>
      <a href="/news/" class="btn">&#128512; Статьи</a>
      <!--<a href="/products/" class="btn">Продукты</a>-->
      <a href="/dl" class="btn">&#128512; Загрузки</a>
      <a href="/code/" class="btn">&#128512; Разработка</a>
      <a href="/about" class="btn">&#128512; Контакты</a>
      <a href="/donate" class="btn" ><b>&#128512; Задонать!</b></a>
      </div>
