      <a href="#" id="navButton" class="btn" onclick="showNav();">Показать навигацию</a>
      {% if site.show_downloads %}
      <div id="nav" style="">
      <a href="/" class="btn" id="home">&#127968; Главная</a>
      <a href="/news/" class="btn">&#128512; Новости</a>
      <a href="/products/" class="btn">Продукты</a>
      <a href="/dl" class="btn">Загрузки</a>
      <a href="/code/" class="btn">Разработка</a>
      <a href="/about" class="btn">Контакты</a>
      <a href="/donate" class="btn" ><b>Задонать!</b></a>
      {% endif %}
      </div>
   
