a#vverh {

	position:fixed;
	bottom:20px;
	left:10px;
	content: url(/assets/img/up.png);
}






@media all and (max-width: 672px) {


header #nav {
	display: inline;
}

header #nav .btn {
	display: inline-block;
	width: 29%;
	/*width: auto;*/
    margin: 0 5px 14px;
}

/*
	header #nav {
		display: inline;
	}
        header a.not-mobile{
		display: none;
        }
	header #mob {
		display: inline;
	}
	
	#mob .btn {
    display: inline-block;
    width: 28%;
    margin: 0 2% 16px;
	}
*/
}




img, video {
	margin: auto;
	display: block; 
	max-height: 300px;
}

details img, video {
	max-height: 100%;

}



/* СПОЙЛЕРЫ */


/* 
http://shpargalkablog.ru/2013/04/details-html.html 
https://habr.com/ru/post/477520/
*/

details {
  margin-bottom: 0.5rem;
}

details ul {
  margin-block-end: 0;
}

details summary {
  cursor: pointer;
  border: 1px dotted;
  background-color: #eeeeee7a;
  font-weight: bold;
}

details[open] summary {
  border-left: 1px dotted #ffffff00;
  border-right: 0;
  border-top: 0;
  margin-bottom: 0.5rem;
}

details[open] {
  border: 1px dotted black;
  padding-bottom: 0.5rem;

}

details[open] p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
}


/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
  content: '(+)';
  //font-family: "Font Awesome 5 free";
  margin-right: 7px;
  margin-left: 7px;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:before {
  content: '(–)';
}



/* ^-^ */

time {
  font-size: 10px;
}

time.shaded {
  color: #ccc;
}


#tgLoginBtn{
font-size: 10pt;
}

.comments_btn{
	
}

.float-btn{
	position:fixed;
	//width:60px;
	height:60px;
	bottom:20px;
	right:15px;
	background-color:#0C9;
	opacity: .5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	line-height: 3;
	text-decoration: none;
	padding: 0 30px;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
}


.project-tagline {
    margin-top: 5px;
    margin-bottom: 20px;
}

.page-header {
    padding-bottom: 1px;
    padding-top: 15px;
}

main .title {
	text-align: center;
	margin-top: 0;
}

.site-footer {
    border-top: solid 2px #eff0f1;
}
