a#vverh {

	position:fixed;
	bottom:20px;
	left:10px;
	content: url(/assets/img/up.png);
}

header #navButton {
	display: none;
}

@media all and (max-width: 672px) {
	header #nav {
		display: none;
	}
	header #navButton {
		display: block;
	}
}


/* примеры кастомизации спойлеров http://shpargalkablog.ru/2013/04/details-html.html */
summary {
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px dotted; 
}

time {
  font-size: 10px;
}

time.shaded {
  color: #ccc;
}


#tgLoginBtn{
font-size: 10pt;
}

.comments_btn{
	
}

.float-btn{
	position:fixed;
	//width:60px;
	height:60px;
	bottom:20px;
	right:15px;
	background-color:#0C9;
	opacity: .5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	line-height: 3;
	text-decoration: none;
	padding: 0 30px;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
}