<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru-RU" }}">
<head>
	<meta charset="UTF-8">
	<title>
	  {{- page.no-title | default:page.title | default: page.name -}}
	  {% if page.no-title == nil %} | {{ site.title }} {% endif %}
	</title>
	{% seo title=false %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="{{ site.mybaseurl | default: '' }}">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
	<style>{%- include hardcoded_style.css -%}</style>
	<style>{{ page.style }}</style>
	{% include analytics.html %}
</head>
<body>

	<header class="page-header" role="banner">
	<!-- <h1 class="project-name">{{ page.title }}</h1> -->
	<a href="#top" id="vverh"></a>
	{% include header.md %}
	{%- if page.description %}
	<h2 class="project-tagline" id="top">{{ page.description | default: "" }}</h2>
	{% endif -%}

	</header>
	<main id="content" class="main-content" role="main">
		{% if page.title %}<h2 class="title no_anchor"><strong>{{ page.title }}</strong></h2>{% endif -%}
		{% assign dir = page.path | split: "/" | first %}
		{% if dir == "store" %}{% include breadcrumbs.html %}{% endif %}
		{%- if page.pin !=0 and page.permalink == nil and page.date or page.modified %}
		<time class="shaded">
		Опубликовано: {{ page.date | date: "%Y-%m-%d" | default: "недавно" -}}
		{%- if page.modified -%}
		, Изменено: {{- page.modified | date: "%Y-%m-%d %H:%M"}}{% endif %}
		</time>
		{%- endif %}
{{ content }}
		{%- if page.date or page.modified -%}
		<time class="shaded">
		Дата: {{ page.date | date: "%Y-%m-%d" | default: "не указана" }}
		{%- if page.modified %}. 
		Изменено: {{ page.modified | date: "%Y-%m-%d %H:%M"}}{% endif %}
		</time>
		{%- endif -%}
{%- if page.comments %}{% include comments.md %}{% endif -%}

	</main>
<footer class="site-footer">
{%- include footer.md -%}
</footer>
<br><br>
<script>{% include hardcoded_scripts.js %}</script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
<script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>
<script>anchors.add('h2:not(.no_anchor), h3, h4');</script>
<script>{{ page.script }}</script>

</body>
</html>
