<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">
	<title>Домик</title>
	{% seo title=false %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	{% include google-analytics.html %}

<style>
@media all and (max-width: 672px) {header a.not-mobile{display: none;}}
</style>
</head>
<body>
	
{{ content }}

<script>
// оптимизировать работу ссылок
function beautifyLinks() {
	var links = document.links;
	var linksCount = links.length;
	for (var i = 0; i < linksCount; i++) {
		// запретить переход по пустым ссылкам
		var link = links[i].attributes.href.value;
		if (link == "" || link == "#"){
			links[i].setAttribute("onclick", "return false;");
		}
		// открывать внешние ссылки в новой вкладке
		if (links[i].hostname != location.hostname) { 
			links[i].target = '_blank';
		}
	}
}
beautifyLinks();
</script>

</body>
</html>
